<section class="signup">
  <div class="signup_container">
    <div class="signup_title">
      <h1>Signup form</h1>
    </div>
    <form class="signup_box">
      <%= form_tag("/users/create") do %>
        <input
          type="text"
          placeholder="Full name"
          style="width: 70%;"
          value="<%= @name%>"
        /><br />
        <input
          type="text"
          placeholder="Email adress"
          style="width: 70%;" 
          value="<%= @email%>" 
        /><br />
        <input
          type="password"
          placeholder="Password"
          style="width: 70%;" 
          value="<%= @password%>" 
        /> /><br />
        <input
          type="password"
          placeholder="Confirm your password"
          style="width: 70%;"
          value="<%= @password%>" 
        /><br />
        <input type="checkbox" />&nbsp;Do you agee to this term and
        condition?&nbsp;&nbsp;<a href="#">More details.</a><br />
        <button>Sign in</button>
      <% end %>
    </form>
  </div>
</section>
